@font-face {
    font-family: 'BPG Arial';
    src: url('../fonts/subset-BPGArial.woff2') format('woff2'),
        url('../fonts/subset-BPGArial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Arial Caps';
    src: url('../fonts/bpg-arial-caps.woff2') format('woff2'), 
        url('../fonts/bpg-arial-caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}