@tailwind base;
@tailwind components;
@tailwind utilities;

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 42px;
    cursor: pointer;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #232323;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #232323;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.logo {
    animation: zoom-out 400ms ease-out;
}

.start-questionnaire {
    animation: scroll-down 800ms ease;
}

@keyframes zoom-out {
    from {
        scale: 20;
    }
    to {
        scale: 1;
    }
}

@keyframes scroll-down {
    0% {
        translate: 0 -100%;
    }
    50% {
        opacity: 0;
        translate: 0 -100%;
    }
    100% {
        opacity: 1;
        translate: 0 0%;
    }
}
