@tailwind base;
@tailwind components;
@tailwind utilities;

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 42px;
    cursor: pointer;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #232323;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #232323;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.logo {
    animation: zoom-out 400ms ease-out;
}

.start-questionnaire {
    animation: scroll-down 800ms ease;
}

@keyframes zoom-out {
    from {
        scale: 20;
    }
    to {
        scale: 1;
    }
}

@keyframes scroll-down {
    0% {
        translate: 0 -100%;
    }
    50% {
        opacity: 0;
        translate: 0 -100%;
    }
    100% {
        opacity: 1;
        translate: 0 0%;
    }
}

.shape-personal {
    width: 540px;
    translate:60px 140px;
    animation: shape-personal 350ms ease-out;
}

@keyframes shape-personal {
    from {
        translate:-100px 190px;
        width: 0;
        opacity: 0;
    }
    to {
        translate:60px 140px;
        width: 540px;
        opacity: 1;
    }
}

.shape-covid {
    translate:20px 150px;
    width: 200px;
    animation: shape-covid 350ms ease-out;
}

@keyframes shape-covid {
    from {
        translate:200px 100px;
        width: 250px;
        opacity: 0;
    }
    to {
        translate:20px 150px;
        width: 200px;
        opacity: 1;
    }
}

.shape-vaccine {
    animation: shape-vaccine 350ms ease-out;
}

@keyframes shape-vaccine {
    from {
        translate:0 100px;
        opacity: 0;
    }
    to {
        translate:0 0;
        opacity: 1;
    }
}
.additional {top:160px}
.shape-additional {
    width: 170px;
    translate:80px 40px;
    animation: shape-additional 350ms ease-out;
}

@keyframes shape-additional {
    from {
        width: 200px;
        translate:20px 60px;
        opacity: 0;
    }
    to {
        width: 170px;
        translate:80px 40px;
        opacity: 1;
    }
}

.thanks {
    animation: thanks 400ms ease-in;
}

@keyframes thanks {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.star-right {
    translate:164px -20px;
    width: 30px;
    animation: star-right 700ms ease-out;
}

@keyframes star-right {
    0% {
        opacity: 0;
        translate:0px -80px;
    }
    60% {
        opacity: 0;
        translate:0px -80px;
    }
    100% {
        opacity: 1;
        translate:164px -20px;
    }
}

.star-left {
    translate:-160px -110px;
    animation: star-left 700ms ease-out;
}

@keyframes star-left {
    0% {
        opacity: 0;
        translate:0px -20px;
    }
    60% {
        opacity: 0;
        translate:0px -20px;
    }
    100% {
        opacity: 1;
        translate:-160px -110px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}